		/*margenes y paddings*/
.m-4{
	margin: 4%;
}
.mt-2{
	margin-top: 2%;
}
.pd{
	padding: 2 1;
}

li{
	background-color: silver;
	padding: 2%;
	list-style: none;
	margin-bottom: 1%;
	position: relative;
}
ul{
	padding: 0% !important;
}
ul div{
	display: inline;
	position: absolute;
	right: 10px;
	font-size: 20px;
}
p{
	display: inline;
	padding-left: 3%;
}

.subrayar{
	text-decoration: line-through;
}